.foot-row{
    display: flex;
    max-width: 100%;
    height: auto;
    background-color: green;
    color:white;
    justify-content: space-between;
    align-items: center;
}
.foot-row div img{
    width: 100px;
    height:50px;
    padding: 10px;
}
.serv{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* small devices */
.serv div img{
    flex: 1 1 100%;
    max-width: 100%;
    height:auto;
}
/* responsive */
/* medium 768 */
@media (min-width: 768px) {
    .serv div img{
        flex: 1 1 50%;
        height:400px;
        width:250px;
    }
}
/* large 992 */
@media (min-width: 992px) {
    .serv div img{
        flex: 1 1 33.33%;
        height:400px;
        width:250px;
    }
}

.test{
    display: flex;
    overflow-x: auto;
    width: 100%;
}

.test div{
    display:flex;
}

#item{
    flex: 1 1 50%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px grey;
    margin: 20px;
    height: auto;
}

.book{
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}
.book h1{
    border-radius: 20px;
    box-shadow: 10px 10px 10px green;
    padding: 10px;
}
.book h1:hover{
    background-color: black;
    color:white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px green;
    padding: 20px;
}